footer {
    background: $gradient-body-start  ;
    padding: 70px  ;
    padding-bottom: 90px ;
    border-top-right-radius: 100px;

    
        p {
            color : $grayish-blue !important ;
            line-height: normal !important;
        }
    }