$light-red: hsl(356, 100%, 66%);
$very-light-red: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);

$grayish-blue: hsl(240, 2%, 79%);
$copy: hsl(206, 13%, 34%);
$very-dark-black-blue: hsl(240, 10%, 16%);

$background-gradient: linear-gradient(120deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$gradient-body-start: hsl(237, 17%, 21%);
$gradient-body-end: hsl(237, 23%, 32%);
$state-bg : linear-gradient(120deg , hsl(237, 17%, 21%) , hsl(237, 23%, 32%) )